@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/RJMlAoFXXQEzZoMSUteGWD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu';
    font-style: normal;
      font-weight: 400;
        src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
	}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

::selection {
 background: #FCAFA6;
}

body {
 font-size:1.1em;
 margin:0px;
 padding:0px;
}

h1 {
 font-family: inherit;
 font-weight: inherit;
 font-size: 1.5em;
 text-align:center;
 background-color:#67809F;
 color:white;
 margin-top:0px;
 padding:0.5em;
}

.projectGroupHeading {
 background-color:#336E7B;
 color:white;
 font-size:1.35em;
 padding:0.35em;
}

h4 {
 text-align:center;
 font-family:"Source Sans Pro";
}

a {
 font-family: inherit;
 color: inherit;
 text-decoration: none;
 opacity:0.8;
}

a:hover {
 opacity:1;
}

#textBlurb {
 background-color: #E4F1FE;
 text-align:left;
 padding:1em;
 margin-bottom:2em;
}

.frontImage {
 text-align:center;
 display:block;
 max-width:70%;
}

.projectGroup {
 position:relative;
 margin:10px;
 padding: 10px 5px;
 background-color:#eefeef;
 border-radius:5px;
 box-shadow: 0px 0px 5px rgba(150,150,150,0.2);
}

.projectGroup>a {
 display:block;
}

.projectDescriptor {
 display:inline-block;
 padding:0px 10px;
 margin:10px 0px;
}

.unselectable {
 cursor:default;
 user-select: none;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
}

#mainContainer {
 min-height:600px;
 position: relative;
}

#homeImageContainer {
 position:relative;
 margin:0 auto;
 max-width:800px;
}
#homeImageContainer .marky-linkToCode {
 display:none;
}
#homeImageContainer .codeSection {
 position:absolute;
 right:0px;
 bottom:0px;
 margin:0px;
 font-size: 0.8em;
 background-color:#2C3E50;
}
#homeMarkyLink {
 position:absolute;
 right:0px;
 bottom:0px;
 padding:5px;
}

#centerContainer {
 text-align:center;
 margin:0 auto;
 max-width:500px;
}

#centerContainer a, .post-body a {
 padding:0px 5px;
 border-radius:3px;
}

#centercontainer>p {
 margin-top:20px;
 text-align:justify;
}

#logoContainer {
 font-family:"Raleway";
 font-size: 36px;
 margin-top: 20px;
 padding:0.5em 0.25em;
 text-align:right;
 display:block;
 cursor:default;
 color:white;
}

#menuContainer {
 font-family:"Source Sans Pro";
 margin: 0 auto;
 margin-bottom:1em;
 background-color: #446CB3;
 max-width:600px;
 min-width:345px;
}

#menuContainer a {
 margin:0em 0.4em 0em 0em;
}
#menuContainer a:last-child {
 margin:0em;
}

.menuLink {
 display:inline-block;
 padding: 10px;
 background-color: #E4F1FE;
}

#contentContainer {
 font-family:"Source Sans Pro";
}

#contentContainer a {
 color:maroon;
}

.blackContainer {
 font-family:"Source Code Pro";

 display:block;

 margin:40px 0px;
 padding:10px 5px 10px 20px;
 background-color:rgba(0,0,0,0.95);
 color:white;
}

.sourceLink {
 position:absolute;
 bottom:0px;
 right:0px;
 font-size:0.8em;
 margin-top:5px;
}

#copyrightContainer {
 font-family:Source Sans Pro;
 font-size:16px;
 text-align: center;
 margin:20px 0px 40px 0px;
 cursor:default;
}

/* # # # #  Blog-specific  # # # # # */
.description {
 margin-bottom:1.5em;
 text-align:center;
 font-family:"Source Sans Pro";
}

.titlewrapper h1 {
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgba(0,0,0,0.5);
 font-size:2em;
 font-family:"Source Sans Pro";
 margin:15px;
 padding:0px;
}

.date-outer {
 position:relative;
 margin:10px 10px;
}

.post {
 padding:10px 30px;
 border-radius:5px;
 border-top:2px solid black;
 margin-bottom:3em;
}

.post-title {
 text-align:center;
 margin:0px 0px 20px 0px;
 padding:20px 10px;
 font-family:"Source Sans Pro";
 font-size:2em;
 background-color:rgba(180,180,180,0.1);
}

.post-title a:hover {
 opacity:0.7;
}

.post-body {
 margin:0px 40px;
 max-width:700px;
 margin:0 auto;
 line-height:1.3em;
 font-family:"Source Sans Pro";
}

.post-footer {
 margin-top:10px;
 font-family:"Ubuntu";
}

.post-comment-link {
 display:block;
}

.date-header {
 position:absolute;
 top:0em;
 margin:0px;
 padding:2px 5px;
 border-radius:5px;
 border-top-right-radius:0px;
 font-size:0.9em;
 font-family:"Source Sans Pro";

 opacity:0.8;
 color:white;
 background-color:black;
}

.blog-feeds, .blog-pager, .feed-links, .post-labels, .loadmore {
 display:none;
}

.avatar-image-container img, .avatar-image-container{
 max-height:100px;
 height:auto;
 border-radius:5px;
 display:inline-block;
}

.comment-header {
 background-color: rgba(150,150,150,0.2);
 padding:5px 10px;
}

.comment-header .user {
 margin-right:20px;
}

.comment-block {
 padding-left: 20px;
 display:inline-block;
 vertical-align:top;
}

.comment-thread .continue{
 text-align:center;
}

.comment-actions {
 opacity:0.5;
}

.comment-actions a {
 margin-right:20px;
}

.comment-thread {
 font-family:"Source Sans Pro";
}

.comment-thread ol {
 list-style:none;
}

#blogHomeLink {
 position:absolute;
 box-sizing:border-box;
 display:block;
 top:0px;
 left:0px;
 font-size:1.5em;
 cursor:pointer;

 font-family:"Source Sans Pro";
 background-color:rgb(150,200,200);
 padding:10px;
 margin:10px;
}

#pageHeading {
 margin:0.25em 0em 0em 0em;
}

#pageHeading h1 {
 margin:0px;
}

@media all and (max-width: 650px) {

 #blogHomeLink {
  display: block;
  width:100%;
  margin:0px;
  position:relative;
  text-align:center;
 }

 .emphasize {
  background-color:maroon;
 }

}


/* Photo Gallery */

#photoGalleryTopMessage {
 margin-top:1em;
 font-size:1.2em;
 background-color:#eefeef;
 padding:1em;
}
#photoGallery a {
 margin:0px;
 padding:0px;
 border-radius:0px;
 opacity:1;
}
.galleryImage {
 max-width:100%;
 border-radius:6px;
 margin:1em 0em;
 box-sizing:border-box;
 border:2px solid transparent;
}
.galleryImage:hover {
 border:2px solid #eef;
}


/* Marky.js */
.lineContainer {
 padding-left:0.5em;
}

.codeLine:only-child {
 padding: 0.5em;
}

.lineNumber, .emptyLineNumber {
 opacity:0.8;
 padding:0em 0.5em;
 margin-right:0.25em;
 color:#7fcdbb;
}

.lineNumberContainer {
 border-right:3px solid rgba(0,0,0,0.5);
 background-color:rgba(0,0,0,0.5);
}

.marky-linkToCode {
 position:absolute;
 top:0px;
 right:0px;
 opacity:0.1;
 padding:5px;
 outline:none;

 background-color:none;
 color:white;
 text-decoration:inherit;

 transition:all 0.15s ease;
}
.codeSection:hover .marky-linkToCode {
 opacity:0.4;
}
.codeSection:hover .marky-linkToCode:hover {
 opacity:0.8;
 background-color:rgba(250,250,250,0.3);
}


/* Sample colorscheme source: http://colorbrewer2.org/ */
.marky-keyword { color:#ffff33; }
.marky-string { color:#f781bf; }
.marky-regex { color:#f781bf; }
.marky-operator { color:#4daf4a; }
.marky-identifier { color:#377eb8; }
.marky-syntax { color:#999999; }
.marky-bool { color:#e41a1c; }
.marky-number { color:#a65628; }
.marky-inlineComment,
.marky-multilineComment { color:#984ea3; }
.marky-attributeKey { color:cyan; }
.marky-option { color:cyan; }
.marky-attributeVal { color:#6eda1b; }
.marky-special { color:#ff7f00; }
.marky-filename { color:purple; }
.marky-innards { color:rgba(250,250,150,0.7); }

.marky-language {
 display:none;
}

.emptyCodeLine, .emptyLineNumber { background-color:rgba(50,50,50,0.1); }

.codeSectionContainer {
 margin:0px auto;
}

.codeSection {
 text-align:left;
 font-family:"Source Code Pro";
 box-shadow: 0px 0px 1px black;
 background-color:rgba(0,0,0,0.9);
 color:white;
}

.lineNumber:first-child {
 padding-top:10px;
}
.lineNumber:last-child {
 padding-bottom:10px;
}

.codeSection {
 display:table;
 position:relative;
 min-width:400px;
 max-width:640px;
 white-space:pre;
 margin:10px auto 20px auto;
 padding:0px;
}

.lineNumber:only-child {
 display:none;
}

.emptyCodeLine:only-child:empty:before {
 content:"No Code Found!";
}

.lineNumberContainer, .lineContainer {
 display:inline-block;
}

.emptyCodeLine, .emptyLineNumber {
 height:1.25em;
 width:100%;
 box-sizing:border-box;
}

@media all and (max-width: 700px) {
 .lineNumberContainer { display:none; }

 .codeLine {
  white-space:pre-wrap;
  word-break:break-all;
 }

 .lineContainer {
  min-width:100px;
  padding:10px 10px;
 }

 .codeSection, .lineSection {
  min-width:100px;
 }
 .codeSection {
  padding: 0px 10px;
 }

 #homeImageContainer {
  border-radius:initial;
  overflow:hidden;
 }
 #homeImageContainer .codeSection {
  position:relative;
  width:100%;
 }

 .frontImage {
  max-width:100%;
 }

 #logoContainer {
  margin-top:0px;
 }


}

@media all and (max-width: 400px) {

 #menuContainer a {
  margin:0em 0.35em 0em 0em;
  font-size:0.9em;
 }

}
