@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: local('Raleway Thin'), local('Raleway-Thin'), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/RJMlAoFXXQEzZoMSUteGWD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}

@font-face {
  font-family: 'Ubuntu';
    font-style: normal;
      font-weight: 400;
        src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v5/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
	}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

::selection {
 background: #FCAFA6;
}

body {
 margin:0px;
 padding:0px;
}

h1 {
 font-family: inherit;
 font-weight: inherit;
 font-size: 24px;
 text-align:center;
}

h4 {
 text-align:center;
 font-family:"Raleway";
}

a {
 font-family: inherit;
 color: inherit;
 text-decoration: none;
}

a:hover {
 font-weight: bolder;
}

.frontImage {
 max-height:200px;
 text-align:center;
 border-radius:15px;
}

.projectGroup {
 position:relative;
 margin:10px;
 padding: 10px 5px;
 background-color:#eefeef;
 border-radius:5px;
}

.projectGroup>a {
 display:block;
}

.projectDescriptor {
 font-size:14px;
 display:inline-block;
 padding:0px 10px;
 margin:10px 0px;
}

.unselectable {
 cursor:default;
 user-select: none;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
}

#mainContainer {
 min-height:600px;
 min-width:400px;
 position: relative;
}

#centerContainer {
 text-align:center;
 margin:0 auto;
 max-width:400px;
}

#centerContainer a, .post-body a {
 padding:0px 5px;
 border-radius:3px;
}

#centercontainer>p {
 margin-top:20px;
 text-align:justify;
}

#logoContainer {
 font-family:"Raleway";
 font-weight:100;
 font-size: 36px;
 margin-top: 20px;
 text-align:center;
 cursor:default;
}

#menuContainer {
 font-family:"Raleway";
 margin: 0 auto;
 text-align: center;

 border-top-right-radius:20px;
 border-top-left-radius:20px;
 border-bottom-right-radius:5px;
 border-bottom-left-radius:5px;
 background-color: white;
 border-bottom: 2px solid black;
 width:400px;
}

.menuLink {
 display:inline-block;
 padding: 10px;
}

#contentContainer {
 font-family:"Raleway";
}

#contentContainer a {
 color:maroon;
}

.blackContainer {
 font-family:"Source Code Pro";

 display:block;

 margin:40px 0px;
 padding:10px 5px 10px 20px;
 background-color:rgba(0,0,0,0.95);
 color:white;
}

.sourceLink {
 position:absolute;
 bottom:0px;
 right:0px;
 font-size:0.8em;
 margin-top:5px;
}

#copyrightContainer {
 font-family:Raleway;
 font-size:16px;
 text-align: center;
 margin:20px 0px 40px 0px;
 cursor:default;
}

/* # # # #  Blog-specific  # # # # # */
.description {
 margin-bottom:1.5em;
 text-align:center;
 font-family:"Raleway";
}

.titlewrapper h1 {
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgba(0,0,0,0.5);
 font-size:2em;
 font-family:"Raleway";
 margin:15px;
 padding:0px;
}

.date-outer {
 position:relative;
 margin:10px 10px;
}

.post {
 padding:10px 30px;
 border-radius:5px;
 border-top:2px solid black;
 margin-bottom:3em;
}

.post-title {
 text-align:center;
 margin:0px 0px 20px 0px;
 padding:20px 10px;
 font-family:"Raleway";
 font-size:2em;
 background-color:rgba(180,180,180,0.1);
}

.post-title a:hover {
 opacity:0.7;
}

.post-body {
 margin:0px 40px;
 max-width:700px;
 margin:0 auto;
 line-height:1.3em;
 font-family:"Raleway";
}

.post-footer {
 margin-top:10px;
 font-family:"Ubuntu";
}

.post-comment-link {
 display:block;
}

.date-header {
 position:absolute;
 top:0em;
 margin:0px;
 font-size:0.9em;
 opacity:0.8;
 color:white;
 padding:2px 5px;
 background-color:black;
 border-radius:5px;
 font-family:"Raleway";
}

.blog-feeds, .blog-pager, .feed-links, .post-labels, .loadmore {
 display:none;
}

.avatar-image-container img, .avatar-image-container{
 max-height:100px;
 height:auto;
 border-radius:5px;
 display:inline-block;
}

.comment-header {
 background-color: rgba(150,150,150,0.2);
 padding:5px 10px;
}

.comment-header .user {
 margin-right:20px;
}

.comment-block {
 padding-left: 20px;
 display:inline-block;
 vertical-align:top;
}

.comment-thread .continue{
 text-align:center;
}

.comment-actions {
 opacity:0.5;
}

.comment-actions a {
 margin-right:20px;
}

.comment-thread {
 font-family:"Raleway";
}

.comment-thread ol {
 list-style:none;
}

#blogHomeLink {
 position:absolute;
 box-sizing:border-box;
 display:block;
 top:0px;
 left:0px;
 font-size:1.5em;
 cursor:pointer;

 font-family:"Raleway";
 background-color:rgba(200,200,200,0.1);
 border-radius:3px;
 padding:10px;
 margin:10px;
}

/* # # # #  Code Section  # # # # */

.codeSection {
 font-family:"Source Code Pro";

 display:table;
 min-width:400px;
 max-width:640px;
 white-space:nowrap;
 margin:10px auto 20px auto;

 padding:10px 5px 10px 20px;
 background-color:rgba(0,0,0,0.95);
 color:white;
}

.lineNumber, .returnLineNumber {
 opacity:0.8;
 padding:0em 0.5em;
 margin-right:0.75em;
 color:green;
}

.lineNumber:only-child {
 display:none;
}

.returnLine, .returnLineNumber {
 margin:0px 0px 0.75em 0em;
}
.returnLine {
 color:#ffffb3;
 background-color:rgba(250,250,250,0.1);
}


.lineNumberContainer {
 position:relative;
 display:inline-block;
 border-right:3px solid rgba(0,0,0,0.5);
 background-color:rgba(0,0,0,0.5);
}

.lineContainer {
 position:relative;
 display:inline-block;
 padding-left:5px;
 min-width:300px;
}

/* # # #  markLanguage CSS  # # # */
.token-keyword {
 color:#8dd3c7;
}

.token-string {
 color:#fb8072;
}

.token-operator {
 color:#b3de69;
}

.token-identifier {
 color: #fccde5;
}

.token-syntax {
 color:#ffed6f;
}

.token-bool {
 color:#bc80bd;
}

.token-comment {
 color:orange;
}

@media all and (max-width: 650px) {

 #blogHomeLink {
  display: block;
  width:100%;
  margin:0px;
  position:relative;
  text-align:center;
 }

 .lineNumberContainer {
  display:none;
 }

 .codeLine {
  font-size:0.8em;
  white-space:pre-wrap;
  word-break:break-all;
  margin:15px 0px;
  background-color:rgba(50,50,50,0.5);
 }

 .lineContainer {
  min-width:100px;
 }

 .codeSection, .lineSection {
  min-width:100px;
 }
 .codeSection {
  padding: 0px 5px;
 }

 .emphasize {
  background-color:maroon;
 }

}



