<html>
<head>

<link rel="stylesheet" text="text/css" href="static/main.css" />
<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico" />

<title>
Casey Falk
</title>
</head>

<body>

<div id="mainContainer">

<div id="logoContainer" class="unselectable">
Casey Falk
</div>

<div id="menuContainer" class="unselectable">
<a href="index.html"><div class="menuLink">Home</div></a>
<a href="projects.html"><div class="menuLink">Projects</div></a>
<a href="more.html"><div class="menuLink">More</div></a>
</div>

<div id="contentContainer">
<h1>
50x Error.
</h1>
<div id="centerContainer">

Woops! Something went wrong.

</div>
</div>

</div>

<div id="copyrightContainer" class="unselectable">
&copy;2014 Casey Falk
</div>


</body>
</html>
