<div class="projectGroup">
<a href="http://learningtree.caseyfalk.com">Learning Graph</a>
<div class="projectDescriptor">TRI-CO Hackathon 2014: User-powered knowledge graph of skills and related careers.</div>
<a class="sourceLink" href="https://github.com/cfalk/learningtree">(source)</a>
</div>

<div class="projectGroup">
<a href="http://isaidwhat.com">I Said What?</a>
<div class="projectDescriptor">PennApps Spring 2014: Facebook game using language processing.</div>
<a class="sourceLink" href="https://github.com/PennApps2014Spring/ISaidWhat">(source)</a>
</div>

<div class="projectGroup">
<a href="https://github.com/cfalk/Code4Good_2013">Milford Housing Project</a>
<div class="projectDescriptor">Code for Good (Delaware 2013) - JP Morgan Chase: Digitalized database for the <a href="http://www.milfordhousing.com/">MHDC</a>.</div>
</div>

<a href="projects.html">Back</a>


