<div id="centerContainer">
</div>

<div id="homeImageContainer">
<img src="{{STATIC_URL}}/images/casey2.jpg" class="frontImage" />


<textarea class="codeSection">
function me() {
    this.short = "Computer Science Enthusiast"; 
    this.contact = decrypt("caseyfalk94 gmail");
    this.musicSkills = [
                        "didgeridoo", 
                        banjo.blueGrass(), 
                        saxes["tenor"]
                       ]; 
    this.goal = function() {
      while (true) learn();
    }
}
</textarea>
<a id="homeMarkyLink" class="noBackgroundColor" href="http://marky.caseyfalk.com">Made with Marky.js</a>
</div>
