<img src="https://scontent-a-ord.xx.fbcdn.net/hphotos-xpf1/t1.0-9/1098180_646276938754116_1528936225_n.jpg" class="frontImage" />

<p>
My name is Casey Falk and I am a Computer Science Major ('16) at Haverford College. I love solving problems in clever, innovative ways and learning about algorithms, implementation, and design. My goal is to make people's lives better through my work.
</p>

<textarea class="codeSection">
function me() {
    this.short = "Computer science explorer."; 
    this.contact = "mailto:caseyfalk94@gmail.com";
    this.musicSkills = [
                        "didgeridoo", 
                        banjo.blueGrass(), 
                        saxes["tenor"]
                       ]; 
    this.goal = function() {
      while (true) learn();
    }

    return this; // Aren't we all monads?
}
</textarea>

