<div id="centerContainer">

<div id="textBlurb">
I'm a machine learning and data science enthusiast with the goal of developing tools that help people live easier and more fulfilled lives. More personally, I like to tinker and explore to solve problems and answer exciting questions.
</div>

</div>

<div id="homeImageContainer">
<img src="http://i.imgur.com/mI3Bxso.jpg" class="frontImage" />


<textarea class="codeSection">
function me() {
    this.short = "Computer Science Enthusiast"; 
    this.contact = decrypt("caseyfalk94 gmail");
    this.music = [
                   "didgeridoo", 
                   banjo.blueGrass(), 
                   saxes["tenor", "alto"]
                 ]; 
    this.goal = function() {
      while (true) learn();
    }
}
</textarea>
<a id="homeMarkyLink" class="noBackgroundColor" href="http://marky.caseyfalk.com">Made with Marky.js</a>
</div>
